@media (max-width: 768px) {
    .head {

        &__stars-back {
            display: none;
        }

        &__title {
            font-size: 40px;
        }

        &__desc {
            font-size: 16px;
        }
    }
}