* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.center {
    padding-left: 120px;
    padding-right: 120px;
}

a,
input,
button {
    font-family: inherit;
}

body {
    font-family: Montserrat, sans-serif;
}

.head {
    background-color: #e1ff8f;
    height: 800px;

    &__title {
        padding-top: 196px;
        font-weight: 700;
        font-size: 64px;
        color: #202027;
    }

    &__desc {
        padding-top: 24px;
        font-weight: 400;
        font-size: 24px;
        line-height: 133%;
        color: #202027;
    }

    &__button {
        margin-top: 48px;
        border: 1px solid #202027;
        border-radius: 60px;
        padding: 16px 28px;
        width: 247px;
        height: 66px;
        font-weight: 600;
        font-size: 24px;
        line-height: 142%;
        text-align: center;
        background-color: #000;
        color: #fff;
        transition: 2s;
    }

    &__button:hover {
        background: #fff;
        color: #000;
    }
}

.marquee {
    width: 100%;
    height: 90px;
    overflow: hidden;
    background: #bcec30;
    padding: 25px 50px;
    white-space: nowrap;
}

.marquee__content span {
    margin-right: 40px;
    font-weight: bold;
    font-size: 18px;
    color: #000;
    align-content: center;
    font-weight: 700;
    font-size: 30px;
    line-height: 110%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #202027;
}

.main {
    background: #202027;
    padding-top: 94px;

    &__title {
        font-weight: 700;
        font-size: 64px;
        color: #fff;
    }

    &__desc {
        padding-top: 24px;
        font-weight: 400;
        font-size: 24px;
        line-height: 133%;
        color: #fff;
    }
}


.main__games {
    padding-top: 72px;
    padding-bottom: 50px;
    min-height: 1056px;
}

.games-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
}

.game-card {
    box-shadow: 0 13px 42px -8px rgba(0, 0, 0, 0.13);
    background: #fff;
    border-radius: 30px;
    max-width: 378px;
    min-height: 473px;
    overflow: hidden;
    transition: 0.4s ease;
    cursor: pointer;

    &:nth-child(even) {
        min-height: 551px;
    }

    &:hover {
        transform: translateY(-12px);
        box-shadow: 0 25px 60px rgba(0, 0, 0, 0.4);
    }

    &__img {
        width: 100%;
        max-width: 378px;
        height: 314px;
        object-fit: cover;
    }

    &__body {
        padding: 22px 26px 28px;
    }

    &__badge {
        display: inline-block;
        border-radius: 53px;
        padding: 8px 16px 10px;
        width: 108px;
        height: 36px;
        margin-bottom: 15px;
        background-color: #f7f7f7;
        font-weight: 500;
        font-size: 16px;
        line-height: 110%;
        color: #202027;
    }

    &__desc {
        font-weight: 700;
        font-size: 32px;
        color: #202027;
    }
}

.mini-games {
    background-color: #202027;
    padding-bottom: 144px;

    &__title {
        font-weight: 700;
        font-size: 64px;
        color: #fff;
        padding-bottom: 72px;
        padding-top: 72px;
    }
}

.gamebar {
    display: flex;
    flex-direction: column;
    gap: 40px;

    &__card {
        max-width: 1200px;
        min-height: 500px;

        display: flex;
        justify-content: space-between;

        box-shadow: 0 20px 67px -12px rgba(0, 0, 0, 0.13);
        background: #fff;
        border-radius: 30px;
        overflow: hidden;
    }

    &__content {
        padding: 48px;
        display: flex;
        flex-direction: column;
    }

    &__content-name {
        font-weight: 700;
        font-size: 48px;
        color: #202027;
        margin-bottom: 24px;
    }

    &__content-desc {
        font-weight: 400;
        font-size: 24px;
        line-height: 133%;
        color: #202027;
        margin-bottom: 36px;
    }

    &__button {
        border-radius: 60px;
        padding: 16px 28px;
        width: 247px;
        height: 66px;
        background-color: #202027;
        color: white;
        cursor: pointer;
        font-weight: 600;
        font-size: 24px;
        line-height: 142%;
        text-align: center;
        color: #fff;
    }

    &__pic {
        width: 50%;
    }

    &__img {
        border-radius: 30px;
        width: 600px;
        height: 500px;
    }
}

.gamebar:nth-child(even) {
    flex-direction: row-reverse;
}

.footer {
    height: 150px;
    background-color: #bded35;

    &__desc {
        padding-top: 61px;
        font-weight: 600;
        font-size: 24px;
        text-align: center;
        color: #000;
    }
}